

body {
    font-family: "DejaVu Sans", ubuntu, monospace;
    background-color: black;
    color: rgb(255, 255, 255);
}

a{
    color: cyan;
}
#intro-header{
    color: rgb(255, 255, 255);
}

#achievements{
    display: flex;

}

#achievement{
    /* display: inline-block; */
    
    color: white;
    font-family: "DejaVu Sans", monospace;
    border: 15px solid black;
    padding: 50px;
    border-radius: 5%;
    margin: 20px;
    flex: 1;
    background:rgba(0, 0, 255, 0.5);
}
#achievement img{
    width: 256px

}